@model IEnumerable<universityERP.Models.Doctor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Accounter.cshtml";
}

<h2>Edit Doctors Salary</h2>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
             
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">

                            <thead>

                                <tr>
                                    <th></th>
                                    <th class="text-uppercase text-secondary text-s font-weight opacity-10">
                                        Doctor Name

                                    </th>
                                    <th class="text-uppercase text-secondary text-s font-weight opacity-10">
                                        Major Name

                                    </th>

                                    <th class="text-uppercase text-secondary text-s font-weight opacity-10">
                                        Doctor Salary
                                    </th>
                                    
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="d-flex px-2 py-1">

                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm" style="text-transform:capitalize">
                                                        @Html.DisplayFor(modelItem => item.doctorName)


                                                    </h6>
                                                </div>

                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">

                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">
                                                        @Html.DisplayFor(modelItem => item.Major.majorName)
                                                    </h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">
                                                        @Html.DisplayFor(modelItem => item.doctorSalary)
                                                    </h6>
                                                </div>
                                            </div>
                                        </td>


                                            <td>
                                                <div class="d-flex px-2 py-1">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">
                                                            @Html.ActionLink("Edit", "Edit", new { id = item.doctorId })


                                                        </h6>
                                                    </div>
                                                </div>
                                            </td>
                                      



                                        <td></td>
                                    </tr>

                                }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>