@model IEnumerable<universityERP.Models.Major>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Accounter.cshtml";
}

<h2>Major Hourly Price </h2>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
               
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">

                            <thead>

                                <tr>
                                    <th></th>
                                    <th class="text-uppercase text-secondary text-s font-weight opacity-10">
                                        Facility Name
                                    </th>
                                    <th class="text-uppercase text-secondary text-s font-weight opacity-10">
                                        Major Name
                                    </th>

                                    <th class="text-uppercase text-secondary text-s font-weight opacity-10">
                                        Major Hour Price
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="d-flex px-2 py-1">

                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">
                                                        @Html.DisplayFor(modelItem => item.Facility.facilityName)
                                                    </h6>
                                                </div>

                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">

                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">
                                                        @Html.DisplayFor(modelItem => item.majorName)
                                                    </h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">
                                                        @Html.DisplayFor(modelItem => item.majorHourPrice)
                                                    </h6>
                                                </div>
                                            </div>
                                        </td>



                                        <td class="align-middle text-center btn btn-secondary">
                                            @Html.ActionLink("Edit", "Edit", new { id = item.majorId})
                                        </td>
                                        <td></td>
                                    </tr>

                                }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


